body{
    background-color: rgba(211, 211, 211, 0.815);
}
p{
    margin-top: .5rem;
    margin-bottom: .5rem;
}
ul{
    list-style: none;
}

li{
    margin-top: 9px;
}

section{
    margin-bottom: 2rem;
}

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

div.header-logo{
    background-color: white;
    padding: .7rem;
}

#main-logo{
    vertical-align:middle
}

#main-header-txt{
    display: inline-block;
    vertical-align:middle
}

article.container-add{
    background-color: white;
    margin: 2.5rem auto 0rem;
    width: 69rem;
    height: 3rem;
    border-radius: .5rem .5rem 0rem 0rem;
    padding: 1rem 3rem;
}

article.container-task{
    background-color: white;
    margin: .1rem auto;
    width: 69rem;
    height: 30rem;
    border-radius: 0rem 0rem 0.5rem 0.5rem;
}

span.add-task{
    border: 1px solid #77a5ec;
    border-radius: 5px;
    background-color: #77a5ec;
    color: white;
    padding: .2rem;
}

span.add-section{
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: white;
    color: lightgray;
    padding: .2rem;
}
.container-task{
    padding: 2rem;
}

                                                /* BACKGROUND*/
span.blue-background{
    background-color:#77a5ec;
    border-radius: 10px;
    padding: 3px;
    font-size: .8rem;
    color: white;
}
span.violet-background{
    background-color: #9467de;
    border-radius: 10px;
    padding: 3px;
    font-size: .8rem;
    color: white;
}
span.green-background{
    background-color: #87bfa8;
    border-radius: 10px;
    padding: 3px;
    font-size: .8rem;
    color: white;
}

span.orange-background{
    background-color: #daa248;
    border-radius: 10px;
    padding: 3px;
    font-size: .8rem;
    color: white;
}

span.pink-background{
    background-color:#bd629e;
    border-radius: 10px;
    padding: 3px;
    font-size: .8rem;
    color: white;
}
span.lightgreen-background{
    background-color:#b3cc43;
    border-radius: 10px;
    padding: 3px;
    font-size: .8rem;
    color: white;
}

                                                   /*FONT*/
span.font-green{
    color: #79c800;
    border: 2px solid #79c800;
    border-radius: 100%;
    padding: 3px;
}

span.font-red{
    color: #cc6862;
    border: 2px solid #cc6862;
    border-radius: 100%;
    padding: 3px;
}

.list{
    padding-top: 0.2rem;
}
