body{
    background-color: rgba(211, 211, 211, 0.815);
}

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

div.header-logo{
    background-color: white;
}

#main-logo{
    margin: .5rem 1rem;
}
#main-header-txt{
    display: inline-block;
}